@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');



*{
    margin: 0;
    padding: 0;
    /* 字體 */
    font-family: "Noto Sans TC", sans-serif; 
    /* 字體 */


}
a{
    color: black;
    text-decoration-line: none;
}